table {
  border-collapse: collapse;
  background: white;
  color: black;
}
td, th{
  font-weight: bold;
  background-color: rgb(201, 201, 201);
  padding-left: 20px;
  text-align: center;
  border: 1px solid black;
}

td:hover, .active {
  background-color:#00ff00!important;
}



.bg {
  background-color: white;
}
