.header {
  display: flex;
  align-items: center;
  background-color: #ebeaea;
  height: 40px;

}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.header .title-group {
  padding-left: 1px;
  color: #000;
  align-items: center;
}
